body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f4f7fb;
    color:#333;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
    color:#2563eb;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

.hero{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:15px;
    margin-bottom:25px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.hero h2{
    color:#2563eb;
    margin-bottom:10px;
}

.hero p{
    color:#666;
}

.planner-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    margin-bottom:25px;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,
select{
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:15px;
}

button{
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

button:hover{
    background:#1d4ed8;
}

.destination-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    margin-bottom:25px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.destination-card img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.destination-card h2{
    padding:20px;
    text-align:center;
    color:#2563eb;
}

.result-card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.result-card h2{
    color:#2563eb;
}

pre{
    white-space:pre-wrap;
    line-height:1.7;
    font-size:15px;
}

@media(max-width:768px){

    .container{
        padding:15px;
    }

    .destination-card img{
        height:250px;
    }

}
.features{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin:25px 0;
}

.feature-card{
    background:white;
    padding:20px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
    font-weight:bold;
}

@media(max-width:768px){

    .features{
        grid-template-columns:repeat(2,1fr);
    }

}
.history-btn{
    display:inline-block;
    margin-top:15px;
    padding:12px 20px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    border-radius:10px;
}
.result-card{
    border-left:6px solid #2563eb;
}